.warehouse-navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 0 0 15px;
}

.warehouse-navbar .ant-select-selector {
  border: 1px solid #d9d9d9;
  background: #ffffff;
  height: 38px !important;
}

.warehouse-navbar_inp {
  width: 50%;
  height: 40px;
  padding: 0 10px;
}

.radio_Group_inp {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.radio_Group_inp .ant-radio-wrapper {
  width: 240px;
  display: flex;
  align-items: center;
  height: 35px;
}

.custom-table-scroll {
  height: 100vh;
}

.custom-table-scroll .ant-table-body {
  overflow-y: auto !important;
  scrollbar-width: thin;
  scrollbar-color: #0a3d3a var(--bg-color);
}

/* Chrome, Safari va Edge uchun */
.custom-table-scroll .ant-table-body::-webkit-scrollbar {
  width: 2px;
}

.custom-table-scroll .ant-table-body::-webkit-scrollbar-track {
  background: #f0f0f0;
  border-radius: 4px !important;
}

.custom-table-scroll .ant-table-body::-webkit-scrollbar-thumb {
  background-color: var(--bg-color);
  /* Scroll rangi */
  border-radius: 4px;
  border: 2px solid #f0f0f0;
}

:where(.css-dev-only-do-not-override-1drr2mu).ant-radio-button-wrapper>.ant-radio-button {
  position: absolute;
  inset-block-start: 0;
  inset-inline-start: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: #0a3d3a;
  border: 1px solid #0a3d3a;
}

.ant-radio-button-wrapper {
  overflow: hidden;
}

:where(.css-dev-only-do-not-override-1drr2mu).ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
  z-index: 1;
  color: #ffffff !important;
  background: #ffffff;
  border-color: #0a3d3a !important;
}

.stororderhistory {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  position: relative;
}

.stororderhistory Button {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90px;
  height: 35px;
}

.warehouse-container {
  width: 100%;
  height: calc(100vh - 65px);
  position: relative;
}


.shopsnew-container {
  width: 450px;
  height: 85.5vh;
  background: #0A3D3A;
  position: absolute;
  bottom: 0;
  right: -450px;
  padding: 10px 5px 10px 30px;
  z-index: 55;
  border-radius: 15px 0 0 0;
  transition: right 0.3s ease-in-out;

}

.shopsnew-container.show {
  right: -15px;
}

.open-shops-modal-btn {
  background: #0A3D3A;
  padding: 0 5px !important;
  height: 38px;
  display: flex;
  align-items: center;
  font-size: 20px;
  color: #fff;
  position: absolute;
  border: none;
  left: -17px;
  top: 45%;
  height: 50px;
  width: 40px;
  border-radius: 50%;
}

.create-shops-modal-btn {
  background: #0A3D3A;
  color: #fff;
}

.create-shops-btn {
  background: gold !important;
  color: #fff;
  width: 100%;
}

.open-shops-modal-btn svg {
  margin-bottom: 2px;
}

.open-shops-modal-btn:hover {
  background: #0A3D3A !important;
  color: #fff !important;
}

.create-shops-modal-btn {
  background: #0A3D3A;
  padding: 0 10px !important;
  height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}


.item-info-shop {
  display: flex;
  gap: 5px;
  font-size: 13px;
  width: 100%;
  border-top: .5px solid #d9d9d922;
}

.item-name-shop {
  color: #fff !important;
  font-weight: normal !important;
  width: 34% !important;
  padding: 4px 0;
}

.item-category-shop {
  color: #fff !important;
  width: 12%;
  padding: 4px 0;
}

.shopsnew-container.show>h4 {
  text-align: center;
  color: #fff !important;
  padding: 10px 0;
}


.item-price-shop {
  color: #fff !important;
  width: 23% !important;
  font-weight: normal !important;
  padding: 4px 0;

}

.item-quantity-shop {
  width: 12%;
  color: #fff !important;
  padding: 4px 0;

}

.shopsnew-container-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
}



.custom-tabl-scroll3 {
  width: 100%;
  height: calc(100vh - 122px);
  overflow-y: scroll;
}

.custom-tabl-scroll3::-webkit-scrollbar {
  width: 3px !important;
}

.custom-tabl-scroll3::-webkit-scrollbar-track {
  background: #f1f1f100;
  border-radius: 10px;
}

.custom-tabl-scroll3::-webkit-scrollbar-thumb {
  background: #656565;
  border-radius: 10px;
}

.allLists-box {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 8px;
}

.allLists-box>div {
  width: 49%;
  height: calc(100vh - 70px);
  overflow-y: auto;
}

/* Styling the scrollbar */
.allLists-box>div::-webkit-scrollbar {
  width: 3px;
}

.allLists-box>div::-webkit-scrollbar-thumb {
  background-color: #888;
  /* Color of the scrollbar handle */
  border-radius: 10px;
  /* Rounds the edges of the scrollbar handle */
}

.allLists-box>div::-webkit-scrollbar-thumb:hover {
  background-color: #555;
  /* Color of the scrollbar handle on hover */
}

.allLists-box>div::-webkit-scrollbar-track {
  background-color: #f1f1f1;
  /* Color of the scrollbar track */
  border-radius: 10px;
  /* Rounds the edges of the track */
}