.nav_add {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-bottom: 10px;
}

.EyeInvisibleOutlined {
  display: flex;
  align-items: center;
  gap: 5px;
}

.EyeInvisibleOutlined button {
  border: none;
  background: transparent;
  font-size: 17px;
}


.nav_add Button {
  border: none;
  position: absolute;
  left: 0;
  width: 20px;
  height: 20px;
}

.navbar_search {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.back-btn {
  position: absolute;
  top: 0px;
  left: 20px;
  width: 140px !important;
  height: 30px !important;
  background-color: #ddd;
  border-radius: 5px;
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-in-out;

  &:hover {
    background-color: var(--main-color);
    color: white;
    cursor: pointer;
  }
}

.create-worker-title {
  text-align: center;
  margin: 30px 0;
  font-weight: normal;
}

.create-avatar {
  border-radius: 10px;
  cursor: pointer;
  border: 1px solid #444;
  transition: transform 0.3s ease-in-out;
}

.avatar-close-button {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 20px;
  height: 20px;
  background-color: #07000060;
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}


.todayAttendance {
  width: 100%;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.attendanceItem {
  display: flex;
  flex-direction: column;
  background: #f3f3f3;
  border-radius: 5px;
  padding: 0 5px;
}

.attendanceItem label {
  font-weight: normal;
  color: #333;
}

.attendanceItem p {
  margin: 0;
  color: #555;
}

.story_nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0 10px 0;
  margin-bottom: 8px;
}

.story_nav :where(.css-dev-only-do-not-override-1drr2mu).ant-btn-primary {
  color: #fff;
  background: #1677ff;
  border-radius: 0px !important;
  box-shadow: 0 2px 0 rgba(5, 145, 255, 0.1);
}


.story_nav div {
  display: flex;
  align-items: center;
  gap: 10px;
}

.story_nav div Button {
  background: #0A3D3A;
  color: #fff;
}


.updateAttendance-modal :where(.css-dev-only-do-not-override-1drr2mu).ant-btn-primary {
  color: #fff;
  background: #0A3D3A !important;
  box-shadow: 0 2px 0 rgba(5, 145, 255, 0.1);
}


.updateAttendance-modal .ant-btn {
  font-size: 14px;
  line-height: 1.5714285714285714;
  /* height: 32px; */
  padding: 4px 15px;
  border-radius: 6px;
}

.updateAttendance-modal :where(.css-dev-only-do-not-override-1drr2mu).ant-select-outlined:not(.ant-select-customize-input) .ant-select-selector {
  border: 1px solid #d9d9d9;
  background: #ffffff;
  border-radius: 0px !important;
  margin-top: 2px;
}


.datePicker_nav svg {
  fill: #0A3D3A !important;
}

.story_nav :where(.css-dev-only-do-not-override-1drr2mu).ant-picker-outlined {
  background: #ffffff;
  border-width: 1px;
  border-style: solid;
  color: #0A3D3A !important;
  border-radius: 6px !important;
  border-color: #0A3D3A !important;
}

.story_nav div Button:hover {
  color: #0A3D3A !important;
  border-color: #0A3D3A !important;
}

.story_nav>Button {
  color: #0A3D3A !important;
  border-color: #0A3D3A !important;
}

.story_nav>h2 {
  color: #0A3D3A !important;
}

.custom-tableAtt .ant-table-body {
  scrollbar-width: thin;
  /* Firefox */
  scrollbar-color: #ccc #f0f0f0;
}

.custom-tableAtt .ant-table-body::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.custom-tableAtt .ant-table-body::-webkit-scrollbar-thumb {
  background-color: #bfbfbf;
  border-radius: 4px;
}

.workingHours-nightWorkingHours {
  min-width: 18px !important;
}

.custom-tableAtt .ant-table-body::-webkit-scrollbar-track {
  background: #f0f0f0;
}

.updateAttendance-inp {
  width: 100%;
  margin: 0;
  border-radius: 0px;
  text-align: center;
}

.updateAttendance-inp:first-child {
  margin-right: 2px;
}

.updateAttendance-inp:last-child {
  margin-left: 2px;
}

.ant-modal-content {
  position: relative;
  background-color: #ffffff;
  background-clip: padding-box;
  border: 0;
  border-radius: 8px;
  box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
  pointer-events: auto;
  padding: 20px 14px !important;
}

.ant-modal-content .ant-modal-close {
  position: absolute;
  top: 5px !important;
  right: 5px !important;
  inset-inline-end: 17px;
  z-index: 1010;
  padding: 0;
  color: rgba(0, 0, 0, 0.45);
  font-weight: 600;
  line-height: 1;
  text-decoration: none;
  background: transparent;
  border-radius: 4px;
  width: 22px;
  height: 22px;
  border: 0;
  outline: 0;
  cursor: pointer;
  transition: color 0.2s, background-color 0.2s;
}

.updateAttendance-inp:hover {
  border: 1px solid #0A3D3A !important;
}

.updateAttendance-sel {
  width: 100%;
  height: 38px !important;
}

.ant-input,
.ant-input-number,
.ant-select-selector,
.ant-picker {
  height: 38px !important;
  border-radius: 0px !important;
}

.attendance-times-inp {
  display: flex;
  align-items: center;
  gap: 5px;
  height: 32px !important;
}

.updateAttendance-box {
  display: flex;
  width: 100%;
  gap: 5px;
}

.modal-title {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 16px !important;
  color: #0A3D3A !important;
  font-weight: 600 !important;
  border-bottom: 1px solid #0a3d3a4f !important;
}

.updateAttendance-box>div {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.attendance-times-inp .ant-picker {
  height: 32px !important;
  border-radius: 8px !important;
}

.ant-select-selector {
  height: 32px !important;
  border-radius: 8px !important;
}

.attendance-times-inp .nightsStay {
  background: #000;
}

.nightsStay {
  background-color: transparent;
  border-color: #d9d9d9;
  color: #8c8c8c;
  transition: all 0.3s ease;
  font-size: 19px;
  padding: 0 0 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nightsStay.active {
  background-color: #e6f7ff;
  border-color: #0A3D3A !important;
  color: #0A3D3A;
  box-shadow: 0 0 8px #0A3D3A;
  transform: scale(1.05);
}

.time-picker-inp {
  height: 32px !important;
  border-radius: 8px !important;
}

.time-picker {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  height: 32px;
}


.workingHours {
  position: absolute;
  top: 0px;
  left: 4px;
}

.nightWorkingHours {
  position: absolute;
  bottom: 0px;
  right: 4px;
}

.night-slesh {
  position: absolute;
  top: 19px;
  left: 0px;
  transform: rotate(-45deg);
  width: 100%;
  height: .5px;
  background-color: #ffffffc4;
}



.story_table .ant-table-cell:last-child {
  padding: 0 !important;
}

.story_table .ant-table-cell:last-child Button {
  padding: 0 !important;
  margin: 0 !important;
  border: none !important;
  background: transparent !important;
  color: #0A3D3A !important;
  font-size: 20px !important;
  text-indent: 15px !important;
}


.edit-attendance-container {
  height: calc(100vh - 70px);
  overflow-y: auto;
}

.edit-attendance-container::-webkit-scrollbar {
  width: 3px;
}

.edit-attendance-container::-webkit-scrollbar-track {
  background: #f1f1f100;
  border-radius: 4px;
}

.edit-attendance-container::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 4px;
}


.edit-attendance-container::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.attendance-box>div>.ant-input {
  height: 36px !important;
}

.check-btnIs {
  background: #0A3D3A !important;
  font-size: 18px !important;
  padding: 0 !important;
}

.card-grid {
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
}

.attendance-card {
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease;
}

.attendance-card:hover {
  transform: translateY(-5px);
}

.form-group {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 2px 0;
  color: #0A3D3A !important;
}

.form-group .ant-typography strong {
  text-wrap: nowrap;
  color: #0A3D3A !important;
}


.form-group input {
  width: 100%;
  height: 30px !important;
  border-radius: 8px !important;

}

.spinner {
  display: block;
  margin: 20px auto;
}

.edit-attendance-container .ant-typography {
  color: #fff !important;
}



.edit-attendance-container-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.edit-attendance-container-nav Button {
  color: #ffffff !important;
  border-color: #0A3D3A !important;
  background: #0A3D3A !important;
  border-radius: 8px !important;
  height: 36px;
}

.edit-attendance-container-nav .datePicker_nav-ed {
  border-color: #0A3D3A;
  color: #0A3D3A;
  border-radius: 8px !important;
  width: 200px;
}

.card-title-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  color: #0A3D3A !important;

}

.card-title-head Button {
  color: #ffffff !important;
  padding: 0 8px !important;
  margin: 0 !important;
  background: transparent !important;
  border: 1px solid grey !important;
}

/* Style for the horizontal scroll at the bottom of the table */
.story_table .ant-table-content {
  overflow-x: auto !important;
  /* Ensures horizontal scrolling is enabled */
}


.story_table .ant-table-content::-webkit-scrollbar {
  height: 3px !important;
  /* Set height to 3px for the horizontal scrollbar */
}

.story_table .ant-table-content::-webkit-scrollbar-track {
  background: #f1f1f1;
  /* Track color */
}

.story_table .ant-table-content::-webkit-scrollbar-thumb {
  background-color: #1890ff;
  /* Thumb color */
  border-radius: 4px;
  border: 2px solid #ddd;
  /* Border around the thumb */
}