.orderlist:where(.css-dev-only-do-not-override-1drr2mu).ant-table-wrapper .ant-table-cell,
.orderlist:where(.css-dev-only-do-not-override-1drr2mu).ant-table-wrapper .ant-table-thead>tr>th,
.orderlist:where(.css-dev-only-do-not-override-1drr2mu).ant-table-wrapper .ant-table-tbody>tr>th,
.orderlist:where(.css-dev-only-do-not-override-1drr2mu).ant-table-wrapper .ant-table-tbody>tr>td,
.orderlist:where(.css-dev-only-do-not-override-1drr2mu).ant-table-wrapper tfoot>tr>th,
.orderlist:where(.css-dev-only-do-not-override-1drr2mu).ant-table-wrapper tfoot>tr>td {
  position: relative;
  padding: 6px 16px;
  overflow-wrap: break-word;
}

.orderlist:where(.css-dev-only-do-not-override-1drr2mu).ant-table-wrapper .ant-table-cell,
.orderlist:where(.css-dev-only-do-not-override-1drr2mu).ant-table-wrapper .ant-table-thead>tr>th,
.orderlist:where(.css-dev-only-do-not-override-1drr2mu).ant-table-wrapper .ant-table-tbody>tr>th,
.orderlist:where(.css-dev-only-do-not-override-1drr2mu).ant-table-wrapper .ant-table-tbody>tr>td,
.orderlist:where(.css-dev-only-do-not-override-1drr2mu).ant-table-wrapper tfoot>tr>th,
.orderlist:where(.css-dev-only-do-not-override-1drr2mu).ant-table-wrapper tfoot>tr>td {
  position: relative;
  padding: 6px 6px;
  overflow-wrap: break-word;
}

.customer-navbar .ant-input {
  height: 40px;
}

.customer-info-modal ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.customer-info-modal li {
  background: #f9f9f9;
  padding: 10px;
  margin-bottom: 8px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
}

.customer-info-modal li strong {
  color: #0a3d3a;
  font-weight: 600;
}

.customer-info-modal {
  padding: 20px;
}

.customer-info-modal ul li:nth-child(even) {
  background: #eef5f4;
}

.customer-navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 20px;
}

.custom-table {
  user-select: none;
}

.custom-table {
  /* overflow-y: auto; */
  /* max-height: 605px; */
  scrollbar-width: thin;
  scrollbar-color: #0a3d3a #f1f1f100;
}


.custom-table::-webkit-scrollbar {
  width: 3px !important;
}

.custom-table::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 5px;
}

.custom-table::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

.custom-table::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.material-stor-select {
  width: 100%;
  padding: 0 5px;
}

.material-stor-select div {
  width: 100%;
  display: flex;
  padding: 2px 0;
  position: relative;
}

.material-stor-select div p {
  width: 45%;
}

.storeByCustomer {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.storeByCustomer p:nth-child(1) {
  width: 45%;
}

.storeByCustomer p:nth-child(2) {
  padding: 2px 8px;
  text-align: right;
  font-size: 13px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border-radius: 6px;
  margin-top: 2px;
  color: red;
  border: 1px dashed rgba(255, 0, 0, 0.635);
}

.storeByCustomer p:nth-child(2) svg {
  font-size: 19px;
}

.orderlist {
  padding: 0px !important;
  height: 91vh;

  .custom-table {
    height: 83vh;
  }
}

.order_Edit_Form {
  width: 100%;
  height: 100% !important;
  overflow-y: auto;
}





.orderlist .ant-table-row .ant-table-cell:nth-child(2) {
  padding: 3px 0 3px 3px !important;
  min-width: 90px;
}

.order-names {
  max-height: 70px;
  overflow-y: auto !important;
  overflow-x: hidden !important;
  scrollbar-width: thin;
  scrollbar-color: #888 transparent;
}

.order-names::-webkit-scrollbar {
  width: 1px !important;
}

.order-name {
  font-weight: normal !important;
}

.order-names::-webkit-scrollbar-track {
  background: transparent;
}

.order-names::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}